body {
    font-family: 'Inter', sans-serif;
    background: #f4f7fb;
}

.card {
    border: none;
    background: white;
    border-radius: 20px;
}

.list-group-item {
    border: none !important;
    padding: 18px;
    border-bottom: 1px solid #eee !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item:hover {
    background: #eef3ff;
    transition: 0.2s;
}

.completed {
    text-decoration: line-through;
    color: #8c8c8c;
}

.animate-new {
    animation: fadeHighlight 1.5s ease-out;
}

@keyframes fadeHighlight {
    0% { background-color: #d1e7dd; }
    100% { background-color: white; }
}
